<!-- Footer -->
<div class="footer clearfix">
    <div class="pull-left">&copy; @ABM.Resources.vi_VN.Copyright_Content</div>
    <div class="pull-right icons-group">    			
    	<a onclick="common.scrollToTop();" class="tip" title="Đầu trang"><i class="icon-arrow-up9"></i></a>
    </div>
</div>
<!-- /footer -->