<!-- Page header -->
<div class="page-header">
	<div class="page-title">
		<h3>Báo cáo Thực chạy <small>Dữ liệu thực chạy trên hệ thống được cập nhật đến ngày 30/06/2014</small></h3>
	</div>
	<div id="reportrange" class="range">
		<div class="visible-xs header-element-toggle">
			<a class="btn btn-primary btn-icon"><i class="icon-calendar"></i></a>
		</div>
		<div class="date-range"></div>
		<span class="label label-danger">9</span>
	</div>
</div>
<!-- /page header -->
