<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-content">
        <!-- Main navigation -->
        <ul class="navigation"></ul>
        <!-- /main navigation -->
    </div>
</div>
<!-- /sidebar -->
