.aligncenter { text-align: center }
.alignright { text-align: right }

.text-transform-capitalize { text-transform: capitalize!important }

.vertical_align_top { vertical-align: top!important; }
.vertical_align_middle { vertical-align: middle!important; }

.mt10 { margin-top: 10px!important }

.w45 { width: 45px }
.w60 { width: 60px }
.w80 { width: 80px }
.w100 { width: 100px }
.w120 { width: 120px }
.w140 { width: 140px }
.w160 { width: 160px }

.ml5 { margin-left: 5px }
.mr5 { margin-right: 5px }
.mr15 { margin-right: 15px }

.pl5 { padding-left: 5px }
.pr5 { padding-right: 5px }
.pt30 { padding-top: 30px }

/* HotFix For Pager C# */
.pagination >  li > a.active {
  background-color: #32434D;
  color: #fff;
  cursor: default;
}